# admin.cfg - Configuración del IceGrid Registry
IceGrid.Registry.Client.Endpoints=tcp -p 4061
IceGrid.Registry.Server.Endpoints=tcp
IceGrid.Registry.Internal.Endpoints=tcp
Ice.Admin.Endpoints=tcp -h localhost -p 4062
Ice.Admin.InstanceName=IceGridAdmin
Ice.Default.Locator=IceGrid/Locator:tcp -p 4061
IceGrid.Registry.LMDB.Path=./config/registry-db
